# Example of Number operations

In [2]:
12 + 89

101

In [5]:
a = 123 / 22
print(a)

5.590909090909091

In [6]:
b = a*8
print(b)

44.72727272727273

In [3]:
2 ** 5

32

In [1]:
431 + 881

1312

In [2]:
2.0 * 6

12.0

In [3]:
2 ** 5

32

In [6]:
3.1617 * 6

18.970200000000002

In [7]:
print 3.1617 * 6

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(3.1617 * 6)? (<ipython-input-7-57ddd495b005>, line 1)

In [8]:
print 3.1617 * 2

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(3.1617 * 2)? (<ipython-input-8-c08093cc8fe0>, line 1)

In [11]:
print (3.1617 * 6)

18.970200000000002

# Import Class

In [8]:
import math
math.pi

3.141592653589793

In [10]:
math.sqrt(15)

3.872983346207417

In [11]:
print(1+2)
print(a*4)
print(a/b)

3
22.363636363636363
0.125

In [16]:
import math
math.pi

3.141592653589793

In [17]:
math.sqrt(88)

9.38083151964686

In [18]:
import random
random.random( )

0.5917807465796956

In [19]:
random.choice([1, 2, 3, 4])

3

# Check object type

In [13]:
print(type(a))
print(type(b))

<class 'float'>
<class 'float'>

In [14]:
c = 123
print(type(c))

<class 'int'>

In [15]:
d = '123'
print(type(d))

<class 'str'>

In [20]:
e = "Sanjida"
print(type(e))

<class 'str'>

# Example of String operations

In [18]:
name = 'asif "rahman'
print(name)

asif "rahman

In [19]:
name = "asif 'rahman"
print(name)

asif 'rahman

In [22]:
'asif ' * 5

'asif asif asif asif asif asif asif '

In [24]:
'asif '+'rahman'

'asif rahman'

In [32]:
name = 'Afsar Mahmud sayed'
sub = 'sar'
name.count(sub)

1

In [60]:
name[0:5]

'Afsar'

In [56]:
name[-3:]

'yed'

In [33]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [34]:
name.islower()

False

In [35]:
mystring = 'I am right\nHe is fine\nThis it okay'
mystring.splitlines()

['I am right', 'He is fine', 'This it okay']

In [37]:
separator = '=='
mystrings = ['Himel', 'Liton', 'Hasan']
separator.join(mystrings)

'Himel==Liton==Hasan'

In [38]:
help(mystring.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [25]:
S = 'Sanjida'
print (S)

Sanjida

In [26]:
len (S)

7

In [27]:
S[0]

'S'

In [28]:
S[5]

'd'

In [29]:
S[1]

'a'

In [30]:
S[-1]

'a'

In [31]:
S[-5]

'n'

In [32]:
S[len(S)-3]

'i'

In [33]:
S

'Sanjida'

In [34]:
S[1:5]

'anji'

In [35]:
S[0:1]

'S'

In [36]:
S[5:]

'da'

In [37]:
S

'Sanjida'

In [38]:
S[:-1]

'Sanjid'

In [39]:
S[:]

'Sanjida'

In [40]:
S

'Sanjida'

In [41]:
S + 'Alam'

'SanjidaAlam'

In [42]:
S

'Sanjida'

In [43]:
S*3

'SanjidaSanjidaSanjida'

In [44]:
S

'Sanjida'

In [45]:
S[0] = 'x'

TypeError: 'str' object does not support item assignment

In [47]:
S = 'x' + S[1:]
S

'xanjida'

In [48]:
S.find('anji')

1

In [49]:
S

'xanjida'

In [50]:
S.replace('anji', 'yz')

'xyzda'

In [51]:
S

'xanjida'

In [52]:
line = 'xxx,yy,zzzz,ww'
line.split(',')

['xxx', 'yy', 'zzzz', 'ww']

In [53]:
S = 'Sanjida'
S.upper( )

'SANJIDA'

In [54]:
S.isalpha( )

True

In [55]:
line = 'xxx,yy,zzzz,ww\n'
line = line.rstrip( ) 
line

'xxx,yy,zzzz,ww'

In [56]:
dir(S)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [57]:
help(S.index)

Help on built-in function index:

index(...) method of builtins.str instance
    S.index(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Raises ValueError when the substring is not found.

In [58]:
S = 'A\nB\tC' 
len(S)

5

In [59]:
 ord('\n')

10

In [60]:
S = 'A\0B\0C' 
len(S)

5

In [61]:
msg = """
aaaaaaaaaaaaa
bbb'''bbbbbbbbbb""bbbbbbb'bbbb
cccccccccccccc"""
msg

'\naaaaaaaaaaaaa\nbbb\'\'\'bbbbbbbbbb""bbbbbbb\'bbbb\ncccccccccccccc'

In [62]:
import re
match = re.match('Hello[ \t]*(.*)world', 'Hello Python world')
match.group(1)

'Python '

In [63]:
match = re.match('/(.*)/(.*)/(.*)', '/usr/home/lumberjack')
match.groups( )

('usr', 'home', 'lumberjack')

# List

In [41]:
data = [21,['rahman', 56000], 4.50, 'Dhaka']

In [61]:
data[0]

[21, ['rahman', 56000]]

In [63]:
data[0:2]

[21, ['rahman', 56000]]

In [45]:
data[1]

['rahman', 56000]

In [46]:
data[1][0]

'rahman'

In [47]:
len(data)

4

In [50]:
data[-1]

'Dhaka'

In [64]:
data

[21, ['rahman', 56000], 4.5, 'Dhaka']

In [68]:
data.append(100)
print(data)

[21, ['rahman', 56000], 4.5, 'Dhaka', 100, 100]

In [72]:
data.remove(4.5)
print(data)

[21, ['rahman', 56000], 'Dhaka', 100, 100]

In [73]:
data.pop(1)
print(data)

[21, 'Dhaka', 100, 100]

In [66]:
dir(data)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [66]:
N = [26,['Sanjida', 43188], 3.70, 'Dhaka']
len(N)

4

In [67]:
N[0]

26

In [68]:
N[:-1]

[26, ['Sanjida', 43188], 3.7]

In [69]:
N + [1,2,3]

[26, ['Sanjida', 43188], 3.7, 'Dhaka', 1, 2, 3]

In [70]:
N

[26, ['Sanjida', 43188], 3.7, 'Dhaka']

In [72]:
N.append('NI') # Growing: add object at end of list
N

[26, ['Sanjida', 43188], 3.7, 'Dhaka', 'NI']

In [74]:
N.pop(3)

'Dhaka'

In [75]:
N

[26, ['Sanjida', 43188], 3.7, 'NI']

In [76]:
M = ['xx', 'yy', 'zz']
M.sort( )
M

['xx', 'yy', 'zz']

In [77]:
M.reverse( )
M

['zz', 'yy', 'xx']

In [78]:
N

[26, ['Sanjida', 43188], 3.7, 'NI']

In [79]:
N[90]

IndexError: list index out of range

In [81]:
N[90] = 1

IndexError: list assignment index out of range

In [82]:
M = [[1, 2, 3], 
[4, 5, 6],
[7, 8, 9]]
M

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [85]:
M[1]

[4, 5, 6]

In [88]:
M[1][2]

6

In [89]:
col2 = [row[1] for row in M] 
col2

[2, 5, 8]

In [90]:
M

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [91]:
 [row[1] + 1 for row in M]

[3, 6, 9]

In [92]:
 [row[1] for row in M if row[1] % 2 == 0]

[2, 8]

In [93]:
diag = [M[i][i] for i in [0, 1, 2]] 
diag

[1, 5, 9]

In [96]:
doubles = [c * 4 for c in 'sanjida'] 
doubles

['ssss', 'aaaa', 'nnnn', 'jjjj', 'iiii', 'dddd', 'aaaa']

# Dictionary

In [74]:
person = {'Age':21,'Name':['niaz','rahman'], 'Salary':56000, 'Rating':4.50}

In [76]:
person['Rating']

4.5

In [25]:
len(person)

4

In [78]:
#person.has_key('Name')
'Name' in person.keys()

True

In [79]:
'niaz' in person['Name']

True

In [80]:
dir(person)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [97]:
D = {'Name': 'Sanjida', 'ID': 2, 'eye color': 'Grey'}

In [101]:
D['Name']

TypeError: list indices must be integers or slices, not str

In [102]:
D['ID'] += 1 
D

TypeError: list indices must be integers or slices, not str

In [103]:
D = {}
D['name'] = 'Bob' 
D['job'] = 'dev'
D['age'] = 40
D

{'name': 'Bob', 'job': 'dev', 'age': 40}

In [104]:
 print D['name']

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(D['name'])? (<ipython-input-104-624aa64e5934>, line 1)

In [105]:
rec = {'name': {'first': 'Bob', 'last': 'Smith'},
'job': ['dev', 'mgr'],
'age': 40.5}

In [106]:
rec['name']

{'first': 'Bob', 'last': 'Smith'}

In [109]:
rec['name']['last']

'Smith'

In [108]:
rec['job']

['dev', 'mgr']

In [110]:
rec['job'][-1]

'mgr'

In [111]:
rec['job'].append('janitor') # Expand Bob's job description in-place
rec

{'name': {'first': 'Bob', 'last': 'Smith'},
 'job': ['dev', 'mgr', 'janitor'],
 'age': 40.5}

In [112]:
 rec = 0

In [113]:
D = {'a': 1, 'b': 2, 'c': 3}
D

{'a': 1, 'b': 2, 'c': 3}

In [114]:
Ks = D.keys( ) # Unordered keys list
Ks

dict_keys(['a', 'b', 'c'])

In [115]:
Ks.sort( ) # Sorted keys list
Ks

AttributeError: 'dict_keys' object has no attribute 'sort'

In [116]:
for key in Ks: # Iterate though sorted keys
print key, '=>', D[key]

IndentationError: expected an indented block (<ipython-input-116-6b28076772c4>, line 2)

In [117]:
D

{'a': 1, 'b': 2, 'c': 3}

In [118]:
for c in 'sanjida':
print c.upper( )

IndentationError: expected an indented block (<ipython-input-118-9a5feb2af3d2>, line 2)

In [119]:
squares = [x ** 2 for x in [1, 2, 3, 4, 5]]
squares

[1, 4, 9, 16, 25]

In [120]:
squares = []
for x in [1, 2, 3, 4, 5]: # This is what a list comp does
squares.append(x ** 2)

IndentationError: expected an indented block (<ipython-input-120-c8e9f1e70eb8>, line 3)

In [121]:
 squares

[1, 4, 9, 16, 25]

In [122]:
D

{'a': 1, 'b': 2, 'c': 3}

In [123]:
D['e'] = 99 # Assigning new keys grows dictionaries
D

{'a': 1, 'b': 2, 'c': 3, 'e': 99}

In [124]:
 D['f']

KeyError: 'f'

In [125]:
D.has_key('f')

AttributeError: 'dict' object has no attribute 'has_key'

In [126]:
if not D.has_key('f'):
print 'missing'

IndentationError: expected an indented block (<ipython-input-126-fff4218b2f82>, line 2)